[Unit]
Description=TAO CE Cozy Appliance Setup (on %I)
DefaultDependencies=no

After=systemd-remount-fs.service
After=systemd-sysusers.service systemd-tmpfiles-setup.service
After=systemd-vconsole-setup.service
After=systemd-mute-console.socket

Wants=first-boot-complete.target
Before=first-boot-complete.target sysinit.target
Conflicts=shutdown.target
Before=shutdown.target

ConditionPathIsReadWrite=/etc
ConditionPathExists=!/etc/tao-ce/cozy/appliance.json

[Service]
Type=oneshot

Environment=TTY=%i
Environment=COZY_CONFIG_PATH=/etc/tao-ce/cozy/appliance.json
Environment=COZY_LOG_PATH=/var/log/tao-ce/cozy/appliance-setup@%i.log
Environment=TAO_CE_CONFIG_PATH=/etc/tao-ce/config/tao.yaml

User=root
SendSIGHUP=yes
IgnoreSIGPIPE=no
ExecStart=-/usr/libexec/tao-ce/cozy/kms-wrapper.sh \
    /usr/libexec/tao-ce/cozy/appliance-setup $COZY_CONFIG_PATH
ExecStartPost=-/usr/libexec/tao-ce/cozy/appliance-apply.sh

TTYPath=/dev/%i
TTYReset=yes
TTYVTDisallocate=yes
TTYVHangup=yes
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=multi-user.target
DefaultInstance=tty4